{
  "datakitUrl": "http://127.0.0.1:9529",
  "datawayUrl": null,
  "clientToken": null,
  "rumAppId": "rum-local-demo",
  "serviceName": "windows-sample",
  "env": "local",
  "version": "1.0.0",
  "debug": true,
  "sessionSampleRate": 100,
  "webViewUrl": null,
  "electronRemoteUrl": null,
  "electronDevTools": false,
  "sessionReplayEnabled": false,
  "sessionReplaySampleRate": 100,
  "sessionReplayOnErrorSampleRate": 0,
  "replayTextAndInputPrivacy": "MaskSensitiveInputs",
  "replayTouchPrivacy": "Show",
  "replayImagePrivacy": "MaskNone",
  "diagnosticConsoleEnabled": true,
  "diagnosticFirstChanceExceptions": false
}
