{
  "datakitUrl": "http://127.0.0.1:9529",
  "datawayUrl": null,
  "clientToken": null,
  "rumAppId": "rum-local-demo",
  "serviceName": "windows-sample",
  "env": "local",
  "version": "1.0.0",
  "debug": true,
  "sessionReplayEnabled": true,
  "replayTextAndInputPrivacy": "MaskSensitiveInputs",
  "replayTouchPrivacy": "Show",
  "replayImagePrivacy": "MaskNone",
  "diagnosticConsoleEnabled": true,
  "diagnosticFirstChanceExceptions": false
}
