{
  "datakitUrl": "http://127.0.0.1:9529",
  "datawayUrl": null,
  "clientToken": null,
  "rumAppId": "rum-local-demo",
  "serviceName": "windows-sample",
  "env": "local",
  "version": "1.0.0",
  "debug": true,
  "maxCacheBytes": 134217728,
  "maxCacheFiles": 1024,
  "maxCacheAgeSeconds": 604800,
  "maxBatchItems": 50,
  "maxBatchBytes": 524288,
  "maxUploadBytesPerSecond": 262144,
  "uploadBurstBytes": 2097152,
  "maxUploadRequestsPerSecond": 2,
  "maxUploadBatchesPerCycle": 4,
  "rumEnabled": true,
  "sessionSampleRate": 100,
  "loggingEnabled": true,
  "logSampleRate": 100,
  "traceEnabled": true,
  "traceSampleRate": 100,
  "traceType": "w3c_traceparent",
  "allowedTracingUrls": [],
  "webViewUrl": null,
  "electronRemoteUrl": null,
  "electronDevTools": false,
  "sessionReplayEnabled": false,
  "sessionReplaySampleRate": 100,
  "sessionReplayOnErrorSampleRate": 0,
  "replayTextAndInputPrivacy": "MaskSensitiveInputs",
  "replayTouchPrivacy": "Show",
  "replayImagePrivacy": "MaskNone",
  "diagnosticConsoleEnabled": true,
  "diagnosticFirstChanceExceptions": false
}
